a{
  text-decoration: none;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
}


@import "mixin";



.nav-bar-link{
  padding: 30px 30px;
  text-transform: uppercase;
  color: #16A085;
}

.photo-img{
  width: 100vw;
  height: 100%;
}

.container{
  display: flex;
  width: 100vw;
  height: 650px;
  flex-direction: column;
  background-color: #F5F6F7;
  align-items: center;
}

.container-text{
  display: flex;
  flex-direction: column;
  max-width: 1060px;

}
.container-text-tittle{
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

}
.container-text-p{
  width: 100%;
  margin-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  line-height: normal;
}

.button{
  display: flex;
  width: 195px;
  height: 50px;
  background-color: #16A085;
  margin-top: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.footer{
  display: flex;
  justify-content: flex-end;
  margin: 40px 80px 40px;
}